version: "3.8"
services:
  cpp:
    build:
      context: .
      target: cpp-runtime
    image: hello-ubuntu-cpp:latest
    container_name: hello_cpp
    stdin_open: true
    tty: true
    command: ["/bin/bash"]

  spring:
    build:
      context: .
      target: spring-runtime
    image: spring-hello-world:latest
    container_name: spring_app
    ports:
      - "8080:8080"
    volumes:
      - ./spring_hello_world/data:/app/data
    restart: unless-stopped
